* {
    margin:0;
    padding:0;
}

nav {
    margin:auto;
    display:flex;
    justify-content:space-between;
    padding:20px 40px;
}
#Drop {
    display:flex;
    justify-content:space-evenly;
    width:300px;
}